<div class="d-flex justify-content-center">
  <div class="col-12 col-sm-10 col-md-10 col-xl-8 col-xxl-6">
    <div class="container card bg-light py-3">
      <h3 class='my-4 text-center'><strong>Add a movie 🎬</strong></h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, collection: @movies, label_method: :title, value_method: :id, include_blank: false %>
          <%= f.input :comment %>
          <%= f.submit class: 'btn btn-info mt-3 w-100' %>
      <% end %>
    </div>
  </div>
</div>
